.me_img {
  height: 550px;
  background-image: url("https://i.imgur.com/4xmnZLI.png");
  border-radius: 4px;
}

.up_margin {
  height: 78px;
}

.line {
  height: 1px;
  background-color: #222222;
}

.title_wrapper p:first-child {
  margin-top: 60px;
  margin-bottom: 8px;
}

.title_wrapper p:last-child {
  margin-bottom: 60px;
}

.details_wrapper {
  margin-bottom: 1.25rem;
}

.work h2 {
  margin-bottom: 2rem;
}

.work_wrapper {
  display: flex;
  justify-content: space-between;
}

.work {
  width: 570px;
}

.roleBtnText {
  text-align: center;
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #f3f3f3;
  border-radius: 16px;
  background-color: #444444;
  border: none;
  margin-top: 12px;
  margin-right: 12px;
}

@media screen and (max-width: 1400px) {
  .details_wrapper li {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .details_wrapper {
    margin-top: 20px;
  }
  .details_wrapper li {
    width: 100%;
  }
  .me_img {
    height: 40vw;
    background-size: cover;
  }
  .title_wrapper p:first-child {
    margin-top: 40px;
  }
  .title_wrapper p:last-child {
    margin-bottom: 40px;
  }
  .up_margin {
    height: 0px;
  }
  .work_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .work {
    width: 90vw;
    margin-bottom: 60px;
  }
  .work:first-child {
    margin-top: 40px;
  }
}
