.heroBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-color: #f3f3f3;
  border-radius: 20px;
  margin-bottom: 3vw;
}

.title {
  font-size: 80px;
  font-weight: 600;
  margin-left: 80px;
}

.details {
  width: 50%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 80px;
}

.card_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
