.title {
  font-size: 100px;
  font-weight: 600;
  margin-left: 80px;
}

.details {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 80px;
}

.largeBox {
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-bottom: 40px;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mediumBox {
  width: 620px;
  height: 400px;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-bottom: 40px;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mediumLongBox {
  width: 100%;
  height: 400px;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-bottom: 40px;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.smallBox {
  width: 400px;
  height: 240px;
  background-color: #f3f3f3;
  border-radius: 4px;
  margin-bottom: 40px;
  background-clip: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
  .title {
    margin-left: 40px;
  }
  .details {
    margin-top: 40px;
    margin-left: 40px;
  }
  .largeBox {
    height: 56vw;
  }
  .mediumBox {
    width: 43.5vw;
    height: 28vw;
    margin-bottom: 40px;
  }
  .mediumLongBox {
    width: 100%;
    height: 28vw;
    margin-bottom: 40px;
  }
  .smallBox {
    width: 28.6vw;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    margin-left: 0;
  }
  .largeBox {
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  .details {
    width: 80%;
    margin-left: 0;
  }
  .mediumBox {
    width: 100%;
    height: 56vw;
    margin-bottom: 20px;
  }
  .mediumLongBox {
    width: 100%;
    height: 36vw;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 589px) {
  .title {
    padding-top: 60px;
  }
  .largeBox {
    background-color: #ffffff;
  }
  .details {
    padding-bottom: 60px;
  }
}
