.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 1.8vw;
  margin-top: 0.4vw;
}

.info_cover {
  display: flex;
}

.details {
  margin-top: 1.8vw;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 0;
    margin-bottom: 0;
  }
  .title {
    text-align: left;
    margin-bottom: 16px;
  }
  .details {
    text-align: left;
    width: 100%;
  }
  .info_cover {
    margin-bottom: 4px;
  }
}
