.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 1vw;
}

.info {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1vw;
}

.details {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 70%;
}
