@media screen and (max-width: 767px) {
  .logo p {
    font-size: 20px;
  }
  .contact {
    font-size: 1rem;
  }
  .nav_wrapper {
    height: 80px;
  }
  .select_area {
    display: none;
  }
  .hamburger_container {
    display: block;
  }
  .hamburger_menu {
    display: flex;
  }
}
