* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222222;
}

li {
  list-style: none;
}

.nav_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.nav_wrapper {
  width: 1280px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  font-size: 20px;
  font-weight: 600;
}

.select_area {
  display: flex;
  align-items: center;
}

.select_area p {
  font-size: 16px;
  margin-left: 40px;
  font-weight: 400;
}

.contact {
  font-size: 1rem;
}

@media screen and (max-width: 1400px) {
  .nav_container {
    width: 90vw;
  }
}

@media screen and (max-width: 767px) {
  .logo p {
    font-size: 20px;
  }
  .contact {
    font-size: 1rem;
  }
  .nav_wrapper {
    height: 80px;
  }
  .select_area {
    display: none;
  }
  .hamburger_container {
    display: block;
  }
  .hamburger_menu {
    display: flex;
  }
}
