/*
Regular 400
Medium 500
Bold 700
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  /* cursor: none; */
}

.container {
  width: 1280px;
}

.center_wrapper {
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90vw;
  }
}
