* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  /* cursor: none; */
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.font_bold {
  font-weight: 600;
}

.font_regular {
  font-weight: 500;
}

.font_light {
  font-weight: 400;
}

.font_gray {
  color: #a1a1a1;
}

.font_gradient {
  background: linear-gradient(
      67.2deg,
      rgba(37, 208, 199, 1) -7.5%,
      rgba(165, 90, 240, 1) 62.7%
    )
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.me {
  width: 24vw;
  left: 10%;
}

.container {
  width: 1280px;
}

.title_wrapper {
  position: relative;
  height: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_wrapper div h1,
h2 {
  position: relative;
  z-index: 100;
}

.title_wrapper h2 {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title_wrapper h3 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.center_wrapper {
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .me {
    width: 48vw;
    position: absolute;
    top: 8%;
    left: 50%;
    z-index: 0;
  }
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 64px;
  }
  .container {
    width: 90vw;
  }
  .title_wrapper {
    height: 72vw;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  .title_wrapper h2 {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 589px) {
  h1 {
    font-size: 32px;
  }
  .me {
    top: -8%;
  }
}
