/*
Regular 400
Medium 500
Bold 700
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  cursor: none;
}

.contents-wrapper {
  width: 68vw;
}
