.hamburger_menu > div {
  width: 90vw;
}

.hamburger_menu p {
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 24px;
}

.bar1_checked {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3.5px, 0px);
}

.bar2_checked {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.bar3_checked {
  transform-origin: bottom;
  width: 50%;
  transform: translate(7px, -7px) rotatez(45deg);
}

@media screen and (max-width: 768px) {
  .hamburger_container {
    display: block;
  }
  .hamburger_menu {
    display: flex;
  }
}
